global
    maxconn 4096
    log stdout format raw local0

defaults
    log     global
    mode    tcp
    option  tcplog
    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend mysql_front
    bind *:6446
    default_backend mysql_back

backend mysql_back
    balance roundrobin
    option  tcp-check
    default-server inter 2s fall 3 rise 2

    # Primario 
    server mysql1 mysql1:3306 check

    # Backups
    server mysql2 mysql2:3306 check backup
    server mysql3 mysql3:3306 check backup
    server mysql4 mysql4:3306 check backup
    server mysql5 mysql5:3306 check backup

